.item{
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;

  
}
.jadu{
  border-style: solid;
  border-width: 10px;
  border-color: #d6c8c8; 

  
}
.heading{
  background-color: black;
  padding: 1px 6px;
  margin: 14px 7px;
  border-radius: 5px;
  
}
.headingName{
  display: flex;
  justify-content: space-between;
  z-index: 100%;
  color: aliceblue;

}
.detail{
  display: flex;
  justify-content: space-between;
  padding: 1px 5px;
}
.detail >img{
  height: 240px;
  width: 100px;
}
.detail >ul{
  list-style: none;
}
.detail >ul li::before  {
  list-style-type: circle;
  content: "\2022";
  color: #00B098;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  font-size: x-large;

}
.Price{
  display: flex;
  justify-content: space-between;
  padding: 1px 5px;
}
#k{
  color:#666666;
  font-size: small;
}
.estimate{
  background-color:#666666;
  padding: 1px 6px;
  margin: 14px 7px;
  border-radius: 10px;
  align-items: center;
}
.anualsaving{
  padding: 1px 6px;
  margin-left: 6px;
  align-items: center;
  border: 3px solid #32dd1bf6
}
#button{
  background-color:#00B098;
  color: white;
  margin-top: 20px;
  height: 40px;
  width: 250px;
 margin-left: 47px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 900;
  transition: 0.5s;

}
.footer{
  background-color: #d6c8c8;
  padding: 1px 6px;
  margin: 14px 7px;
  border-radius: 2px;
  text-align: center;
  color: rgb(0, 102, 255);
  font-weight: bold;
}